<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>SETIA Sentimen Analysis</title>
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css'>
  <link rel='stylesheet' href='https://unicons.iconscout.com/release/v3.0.6/css/line.css'><link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
  <link rel="icon" href="{{url_for('static', filename='img/logo.png')}}" type="image/png">
</head>
<body>
<!-- partial:index.partial.html -->
<aside class="sidebar position-fixed top-0 left-0 overflow-auto h-100 float-left" id="show-side-navigation1">
  <i class="uil-bars close-aside d-md-none d-lg-none" data-close="show-side-navigation1"></i>
  <div class="sidebar-header d-flex justify-content-center align-items-center px-3 py-4">
    <img
         class="img-fluid"
         width="200"
         src="{{url_for('static', filename='img/logo3.png')}}"
         alt="Logo">
  </div>

  <ul class="categories list-unstyled">
    <li class="">
      <i class="uil-estate fa-fw"></i><a href="{{url_for('home')}}"> Dashboard</a>
    </li>
    <li class="">
      <i class="uil-database fa-fw"></i><a href="{{url_for('Data_Reviews_GMaps')}}"> Data Reviews GMaps</a>
    </li>
    <li class="has-dropdown">
      <i class="uil-process"></i><a href="#"> Pre-Processing</a>
      <ul class="sidebar-dropdown list-unstyled">
        <li class="d-flex align-items-center">
          <i class="uil-text me-2"></i>
          <a href="{{url_for('case_folding')}}">Case Folding</a>
        </li>
        <li class="d-flex align-items-center">
          <i class="uil-trash-alt me-2"></i>
          <a href="{{url_for('data_cleaning')}}">Data Cleaning</a>
        </li>
        <li class="d-flex align-items-center">
          <i class="uil-sliders-v-alt me-2"></i>
          <a href="{{url_for('normalization')}}">Normalization</a>
        </li>
        <li class="d-flex align-items-center">
          <i class="uil-paragraph me-2"></i>
          <a href="{{url_for('tokenizing')}}">Tokenizing</a>
        </li>
        <li class="d-flex align-items-center">
          <i class="uil-filter me-2"></i>
          <a href="{{url_for('filtering')}}">Filtering</a>
        </li>
        <li class="d-flex align-items-center">
          <i class="uil-pen me-2"></i>
          <a href="{{url_for('stemming')}}">Stemming</a>
        </li>
        <li class="d-flex align-items-center">
          <i class="uil-chart-line me-2"></i>
          <a href="{{url_for('representasi')}}">Representasi</a>
        </li>
      </ul>
    </li>
    <li class="">
      <i class="uil-panel-add"  style="color: #ffc107;"></i><a href="{{url_for('sentimen_analysis')}}"  style="color: #ffc107;"> Sentimen Analysis</a>
    </li>
    <li class="">
      <i class="uil-panel-add"></i><a href="{{url_for('topic_analysis')}}"> Topic Analysis</a>
    </li>
    <li class="">
      <i class="uil-comment-alt-chart-lines fa-fw"></i><a href="{{url_for('Sentimen_Topic_Tools')}}"> Sentimen Topic Tools</a>
    </li>
  </ul>
</aside>

<section id="wrapper">
  <nav class="navbar navbar-expand-md">
    <div class="container-fluid mx-2">
      <div class="navbar-header">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#toggle-navbar" aria-controls="toggle-navbar" aria-expanded="false" aria-label="Toggle navigation">
          <i class="uil-bars text-white"></i>
        </button>
        <a class="navbar-brand" href="#">
          <strong>SETIA </strong><span class="main-color"><strong>(Sentiment and Topic Insights Analysis)</strong></span>
        </a>
      </div>
      <div class="collapse navbar-collapse" id="toggle-navbar">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i data-show="show-side-navigation1" class="uil-bars show-side-btn"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="p-4">
    <div class="welcome">
      <div class="content rounded-3 p-3">
        <h1 class="fs-3">Sentiment Insight Explorer at RSU Queen Latifa</h1>
        <p class="mb-0">Analyzing Patient Sentiment with Support Vector Machine</p>
        <p>
          <ul>
            <li>
              <strong>Positive Highlights</strong><br>
              Menyajikan ringkasan dari temuan utama dalam ulasan dengan sentimen positif. Hal ini dapat mencakup aspek-aspek yang paling dihargai pasien.
            </li>
            <li>
              <strong>Negative Highlights</strong><br>
              Menyajikan ringkasan dari temuan utama dalam ulasan dengan sentimen negatif. Fokus pada area yang perlu perbaikan.
            </li>
            <li>
              <strong>Accuracy Train & Test</strong><br>
              Menampilkan tingkat akurasi model sentimen untuk data pelatihan dan pengujian, memberikan gambaran kualitas prediksi.
            </li>
            <li>
              <strong>Sentiment Real (Pie Chart)</strong><br>
              Visualisasi distribusi sentimen aktual (positif, negatif, netral) berdasarkan data ulasan asli pasien.
            </li>
            <li>
              <strong>Sentiment Predicted (Pie Chart)</strong><br>
              Visualisasi distribusi sentimen yang diprediksi oleh model, untuk membandingkan hasil klasifikasi dengan data nyata.
            </li>
            <li>
              <strong>Wordcloud Positive Sentiment</strong><br>
              Representasi visual kata-kata yang sering muncul dalam ulasan dengan sentimen positif, membantu mengidentifikasi tema utama yang diapresiasi pasien.
            </li>
            <li>
              <strong>Wordcloud Negative Sentiment</strong><br>
              Representasi visual kata-kata yang sering muncul dalam ulasan dengan sentimen negatif, mengungkapkan area yang perlu diperbaiki oleh rumah sakit.
            </li>
            <li>
              <strong>Data Sentimen (Table)</strong><br>
              Tabel interaktif berisi data ulasan pasien, sentimen yang dihasilkan, dan informasi relevan lainnya untuk eksplorasi lebih lanjut.
            </li>
          </ul>
        </p>
      </div>
    </div>
    <section class="statistics mt-4">
      <div class="row">
        <div class="col-lg-6">
          <a href="{{ url_for('SA_RSU_QL_Yogyakarta') }}" class="btn btn-primary w-100 text-start d-flex rounded-2 align-items-center mb-4 mb-lg-0 p-3">
            <i class="uil-hospital fs-2 text-center bg-primary rounded-circle me-2" style="width: 60px; height: 60px; line-height: 60px;"></i>
            <div class="ms-3">
              <div class="d-flex align-items-center">
                <h3 class="mb-0">RSU Queen Latifa</h3> <span class="d-block ms-2">Yogyakarta</span>
              </div>
              <p class="fs-normal mb-0">Jl. Ringroad Barat No.118, Mlangi, Nogotirto, Gamping, Sleman, DIY</p>
            </div>
          </a>
        </div>
        <div class="col-lg-6">
          <a href="{{ url_for('SA_RSU_QL_KulonProgo') }}" class="btn btn-success w-100 text-start d-flex rounded-2 align-items-center p-3">
            <i class="uil-hospital fs-2 text-center bg-success rounded-circle me-2" style="width: 60px; height: 60px; line-height: 60px;"></i>
            <div class="ms-3">
              <div class="d-flex align-items-center">
                <h3 class="mb-0">RSU Queen Latifa</h3> <span class="d-block ms-2">KulonProgo</span>
              </div>
              <p class="fs-normal mb-0">Jl. Yogyakarta-Wates No.KM 21, Sukoreno, Sentolo, KulonProgo, DIY</p>
            </div>
          </a>
        </div>
      </div>
    </section>

    <!-- <section class="charts mt-4 text-center">
      <div class="row">
        <div class="col-lg-6">
          <div class="chart-container rounded-2 p-3">
            <h3>96,9%</h3>
            <p class="lead" style=color:white>Accuracy Train</p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="chart-container rounded-2 p-3">
            <h3>90,7%</h3>
            <p class="lead" style=color:white>Accuracy Test</p>
          </div>
        </div>
      </div>
    </section>    -->
  </div>
</section>
<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.js'></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
<script src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.jshttps://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js'></script><script  src="./script.js"></script>
<script src="{{url_for('static', filename='/js/script.js')}}"></script>
</body>
</html>
